* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/*-------Inputs-------*/

input[type=date] {
    border: 3px solid #777;
    border-radius: 7px;
    padding: 7px;
}

input[type=text],
input[type=password] {
    border: 1px solid #777;
    border-radius: 4px;
    padding: 7px;
}

.form-input {
    padding: 10px 0;
}

.form-input label {
    padding-right: 7px;
}

/*-------Links-------*/

/*-------Buttons-------*/

button:link,
button:visited,
input[type=submit],
#logInForm a,
#registerForm a,
#myScoresDiv a,
#myCoursesDiv a
 {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    font-size: 1em;
    background-color: #fff;
    color: #555;
    margin-right: 10px;
    cursor: pointer;
}

button:hover,
button:active,
input[type=submit]:hover,
input[type=submit]:active,
#myScoresDiv a,
#myCoursesDiv a  {
    background-color: #555;
    color: #fff;
}

/* ------------------------------ */
/* LogIn Register Styling */
/* ------------------------------ */


#logInForm,
#registerForm {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(74, 199, 112, 0.7);
    margin-top: 200px;
    border-radius: 4px;
}

#logInForm {
    height: 300x;
}

#registerForm {
    height: 400px;
}

#logInForm h1,
#registerForm h1 {
    padding-top: 35px;
}




/* ------------------------------ */
/* Navbar Styling */
/* ------------------------------ */

#navbar {
    background-color: rgb(74, 199, 112);
    height: 60px;
    padding-top: 12px;
}

#navbar h1{
    float: left;
    color: #fff;
    padding-left: 10px;
    font-size: 2.2em;
}

#navbarList {
    float: right;
}

#navbarList li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 1.2em;
 }

#navbar a:link,
#navbar a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}

#navbar a:hover,
#navbar a:active {
    color: #fff;
    border-bottom: 1px solid transparent;
}

/* ------------------------------ */
/* Dashboard Styling */
/* ------------------------------ */

#recent-scores-div {
    position: absolute;
    top: 72px;
    bottom: 0;
    width: 200px;
    background-color: #444;
    color: #fff;
    text-align: left;
    padding-left: 15px;
}

#recent-scores-div h2 {
    margin-top: 15px;
    text-decoration: underline;
}

.recent-score {
    padding: 10px 0;
}

#dashboard-main {
    margin-left: 215px;
    text-align: center;
}

#dashboard-main h1{
    margin-top: 25px;
    font-size: 2.5em;
}

.dashboard-info-div {
    width: 100%;
    height: 300px;
    margin-top: 35px;
}

.dashboard-info-div-child {
    display: inline-block;
    height: 100%;
    width: 30%;
}

/* ------------------------------ */
/* New Score Styling */
/* ------------------------------ */

#new-score-form {
    margin: 0 auto;
    margin-top: 40px;
    width: 30%;
    background-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 20px 0;
}

#new-score-form h2 {
    padding-bottom: 10px;
}

#new-score-div {
    text-align: center;
}


/* ------------------------------ */
/* My Courses Styling */
/* ------------------------------ */

#myCoursesDiv {
    padding: 10px;
}

.courseDiv {
    height: 350px;
    width: 250px;
    display: inline-block;
}










#scorecardDiv td {
    min-width: 30px;
    padding: 3px;
}

#scorecardDiv input[type="text"] {
    width: 30px;
}