* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 20px;
}


/* ------------------------------ */
/* Navbar Styling */
/* ------------------------------ */

#navbar {
    background-color: rgb(74, 199, 112);
    height: 60px;
    padding-top: 12px;
}

#navbar h1{
    float: left;
    color: #fff;
    padding-left: 10px;
    font-size: 2.2em;
}

#navbarList {
    float: right;
}

#navbarList li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 1.2em;
 }

#navbar a:link,
#navbar a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
}

#navbar a:hover,
#navbar a:active {
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s, color 0.3s;
}