* {
    margin: 0;
    padding: 0;
}

#navbar {
    height: 60px;
}

#navbar h1{
    float: left;
}

#navbarList {
    float: right;
}

#navbarList li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 10px;
 }

#scorecardDiv td {
    min-width: 30px;
    padding: 3px;
}

#scorecardDiv input {
    width: 30px;
}


