table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
    border: 1px solid $color-black;
}

tr {
    border-bottom: 1px solid $color-light-gray;

    &:hover {
        background-color: $color-light-gray;
    }

    &:last-of-type {
        border-bottom: 1px solid $color-black;
    }
}

th, td {
    padding: 8px;
    text-align: left;
    min-width: 150px;
}

th {
    color: $color-white;
    background-color: $color-black;
    font-weight: 200;
}